# Core Framework
PyJWT
bcrypt==5.0.0
fastapi==0.128.0
pydantic==2.12.5
pydantic-settings==2.12.0
email-validator==2.3.0
python-dotenv==1.2.1
uvicorn==0.40.0
gunicorn


# Database
pymongo==4.16.0
qdrant-client==1.16.2

# HTTP Client
httpx==0.28.1

# AI/LLM
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-mongodb
langchain-ollama
langchain-openai
langgraph>=1.0.6
langgraph-checkpoint>=4.0.0
langgraph-prebuilt>=1.0.6
langgraph-sdk
mem0ai==1.0.2

# Utilities
cachetools==6.2.4
numpy==2.4.1
slowapi==0.1.9
python-multipart

# Telegram
python-telegram-bot==22.5

# Testing
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
pytest-mock==3.15.1


# Pinned to avoid deprecation warnings in uvicorn
websockets==16.0
